<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
	    <div class="col-lg-12 col-xsm-6">
			<section class="panel panel-default">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Sincronización</strong></div>
				<div class="panel-body">
				<span id="results">La ultima actualización fue el 8 de Abril a las 5:45:54</span>
				<br/>
				<br/>
				<button class="btn btn-primary">
					<span class="glyphicon glyphicon-arrow-down">
					</span>
					Actualizar Datos Ahora
				</button>
				<br/>
				<br/>
				</div>
			</section> 
        </div>
    </div>
    <!-- end stats -->
</div>



  